<div id="browse_ships">

<h3>Log book details for {{ data.ship.vessel_name }}</h3>

<ul>
  <li>Offical Ship Number: {{ data.ship.ship_official_number }}</li>
  <li>Port of Registry: {{ data.ship.port_of_registry }}</li>
</ul>

<h4>Crew</h4>
</div>
<table class="tftable" border="1">
    <tr>
        <th rowspan="2"></th>
        <th rowspan="2">Mariner's name</th>
        <th rowspan="2">Year of birth</th>
        <th rowspan="2">Age</th>
        <th rowspan="2">Place of birth</th>
        <th rowspan="2">Home Address</th>
        <th colspan="3">Ship on which last served</th>
        <th colspan="3">Date and Port of joining this ship</th>
        <th colspan="2">Date and Port of Leaving</th>
        <th rowspan="2">Cause for leaving / Remain on board</th>
        <th rowspan="2">Signed with a mark (Y/N)</th>
        <th rowspan="2">Any Additional Notes</th>
    </tr>
    <tr>
      <th>Name of ship</th>
      <th>Port she belonged to</th>
      <th>Date of leaving</th>
      <th>Date</th>
      <th>Port of joining</th>
      <th>Capacity</th>
      <th>Date Left</th>
      <th>Port of Leaving</th>
    </tr>
    <tr ng-repeat="c in data.crew" ng-init="crew=getCrewPicture()">
      <td><img src="shipping/app/images/pirates/{{ crew }}.jpg" alt="picture of a pirate"/></td>
      <td>{{c.name}}</td>
      <td>{{c.dob}}</td>
      <td>{{c.age}}</td>
      <td>{{c.place_of_birth}}</td>
      <td>{{c.home_address}}</td>
      <td>{{c.name_of_ship}}</td>
      <td>{{c.ship_port}}</td>
      <td>{{c.date_leaving}}</td>
      <td>{{c.joined_ship_date}}</td>
      <td>{{c.joined_at_port}}</td>
      <td>{{c.capacity}}</td>
      <td>{{c.date_left}}</td>
      <td>{{c.left_port}}</td>
      <td>{{c.cause_of_leaving}}</td>
      <td>{{c.sign_with_mark}}</td>
      <td>{{c.notes}}</td>
    </tr>
</table>